<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OPF5/src/main/scala/ar/edu/utn/frba/dds/OPF5/runnable/OPF5Application.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ar.edu.utn.frba.dds.OPF5.runnable.OPF5Application"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OPF5"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.system.class.loader=com.uqbar.apo.APOClassLoader"/>
</launchConfiguration>
